<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tonya Capillo's Contact</title>
    <link rel="stylesheet" href="{{ url_for('static',
        filename='css/home.css') }}">
</head>

<body>

    <h1>Contact Info</h1>

    <strong><nav>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}"> Home</a></li>
            <li><a href="{{ url_for('contact') }}" class="active"> Contact</a></li>
            <li><a href="{{ url_for('projects') }}"> Projects</a></li>
        </ul>
    </nav></strong>

        <p> Email: tcapill2@jhu.edu</p>

    <p><strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/tonya-capillo/" target="_blank">
                    Visit my LinkedIn Profile
        </a>
    </p>

</body>

</html>