<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tonya Capillo</title>
    <link rel="stylesheet" href="{{ url_for('static',
        filename='css/home.css') }}">
</head>

<body>
    <h1> Tonya Capillo</h1>
    <h2> Master's Student at Johns Hopkins University </h2>
    <strong><nav>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}" class="active"> Home</a></li>
            <li><a href="{{ url_for('contact') }}"> Contact</a></li>
            <li><a href="{{ url_for('projects') }}"> Projects</a></li>
        </ul>
    </nav></strong>
    <h3> About Me</h3>
<!-- Image -->
    <img src="{{url_for('static', filename='image.jpg')}}"
         align="left"
         style="width:410px;height:500px;"/>

    <p> I was born and raised on the outskirts of Hollister, CA, and I earned my B.S. in Bioengineering with a minor in Bioinformatics from UCSC in 2020.
        During undergrad I was exposed to several programming languages including R, MATLAB, C++, Java, and Python.
        I also took an Applied Electronics for Bioengineering course, where I quickly learned that I dislike electronics just as much as I dislike soldering.
        Any course offering a free “I survived” T‑shirt is basically a warning label, and it confirmed that electrical and device engineering and I go together
        like oil and water: mostly separate, occasionally sparking.
        Thankfully, the next course I took, Protein Engineering, led to my thesis project titled Humira for Horses, which ultimately opened the door to my career in biotech.
    </p>
    <p>For the past five years, I have worked in the biotech industry as an R&D bioengineer focused on antibody and CAR‑T cell therapeutics.
        Even though my role was rooted in early discovery, I had the chance to see many parts of the drug development lifecycle and gained exposure to areas such as manufacturing,
        quality, regulatory, clinical, finance, and translational science. More recently, I have been transitioning from bench work into computational roles, and I am currently
        completing a bioinformatics internship with AlphaRose Therapeutics as part of that shift.
    </p>

    <p>I decided to pursue my Master’s in AI at Johns Hopkins because I want to be part of the growing intersection between biotechnology and advanced computational methods.
        With the rise of digital biology platforms where AI models are being used for protein design, molecular modeling, and large‑scale biological data analysis,
        the field is evolving quickly. I am excited about that direction and want to build the technical foundation to contribute to these innovations.
        Through this program, I hope to strengthen my coding skills, deepen my understanding of machine learning, and learn how to apply AI tools to real biological problems
        in drug discovery and therapeutic development.
    </p>
</body>
</html>