<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tonya Capillo's Projects</title>
</head>

<body>
    <strong><nav>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}"> Home</a></li>
            <li><a href="{{ url_for('contact') }}"> Contact</a></li>
            <li><a href="{{ url_for('projects') }}"> Projects</a></li>
        </ul>
    </nav></strong>

  <h1>Module 1: Fundamentals of Website Construction</h1>
  <h2>Building a Personal Website</h2>
      <p>This assignment will teach you the fundamentals of website construction.
        You will build a personal developer website that includes a biography, contact information/links, and details about your Python projects.
        This will give you a chance to both be creative and learn the fundamentals of website development.
        We will look back and update this website throughout the course as our set of Python projects grows.
        You will practice working with Flask, a micro web framework written in Python.
        You will first learn to work with HTML, and then you will learn to work with cascading style sheets (CSS) to describe how HTML elements are to be displayed.
        Your output should be a functional personal website that includes details about you, your projects, and contact information.
      </p>
  <h2> Assignment Overview</h2>
      <p> 1. Configure and use a remote code repository, Git/GitHub, to store, track, and collaborate on all homework assignments for this semester.</p>
      <p> 2. Construct a flask website to display your completed modules (and other related work if you’d like!)</p>
      <p> Include link to Module 1 Project GitHub</p>

  <h2>Module 1 Project Details</h2>
    <p> Provide a general description of the package</p>

    <p><strong>GitHub</strong>
        <a href="https://github.com/tcapillo28/jhu_software_concepts/tree/main/module_1" target="_blank">
                    Module 1 Project GitBhub
        </a>
    </p>
</body>
</html>