* {
    box-sizing: border-box;
}
body {
    font-family: Arial, serif;
    font-size: 20px;
    margin:0 auto;
    text-align: center;
}

a,
a:visited {
    color: blueviolet;
}

a:hover{
    color: darkmagenta;
}

nav ul {
    list-style: none;
    padding:0;
}

nav ul li {
    display: inline;
    margin:0 5px;
}

main {
    width: 80%;
    margin: 0 auto;
}